<header class="d-flex justify-content-start header-background">
  <a href="#">
    <div class="logo"></div>
  </a>
  <div class="d-flex flex-column">
    <div class="row">
      <div class="col-md 3 offset-md-1">
          <div class="app-label font-weight-bold">
              {{ 'EET APP' }}
            </div>
      </div>
    </div>
    <div class="d-flex flex-row">
      <div><a routerLinkActive="tab-selected" routerLink="tab1" class="tabs">{{'Tab 1'}}</a></div>
      <div><a routerLinkActive="tab-selected" routerLink="tab2"  class="tabs">{{'Tab 2'}}</a></div>
      <div><a routerLinkActive="tab-selected" routerLink="tab3"  class="tabs">{{'Tab 3'}}</a></div>
      <div><a routerLinkActive="tab-selected" routerLink="tab4"  class="tabs">{{'Tab 4'}}</a></div>
    </div>
  </div>
</header>
<section class="row shade-height">
  <div class="col-md-12"></div>
</section>
